@-moz-viewport { width: device-width; scale: 1;}
@-ms-viewport { width: device-width; scale: 1;}
@-o-viewport { width: device-width; scale: 1;}
@-webkit-viewport { width: device-width; scale: 1;}
@viewport { width: device-width; scale: 1;}

html {
  box-sizing: border-box;
  font-family: 'Molengo', sans-serif;
}
*,*::before, *::after {
  box-sizing: inherit;
}

body {
  background-color: black;
  margin: 0;
}

header{
  position: relative;
}

.photo {

  width: 100%;

}

header h1 {
  position: absolute;
  color: white;
  top: 1em;
  padding-left: 1.5rem;
  font-size: 10vw;
}

header p {
  color: white;
  top: 12rem;
  margin-left: 1.5em;
  margin-right: 1.5em;

}


.social-media {
  overflow: hidden;
  text-align: center;
}

.social-media a{
  display: inline-block;
}

.facebook img {
  width: 28%;
  float: left;
  margin-right: 0.5em;
}

.instagram img {
  width: 28%;
  float: left;
  margin-right: 0.5em;
}


.pintrest img {
  width: 28%;
  float: left;
  margin-right: 0.5em;
}

footer img {
  padding-top: 2em;
  width: 100%;
}

footer {
  position: relative;
}

.close {
  position: absolute;
  color: grey;
  font-size: 3.5vw;
  text-align: center;
  padding-left: 4em;
  bottom: 3em;
}
